/* To design the four divs displayed, classes are created to design each div exactly as sampled on the exercise. */

/* The class '.A' targets the CSS done on 'div#A'. A purple border is created with a thickness of 5px using the property 'border' and the hex code to represent purple. An orange outer shadow layer is displayed using the property 'box-shadow' with a blur effect of 8px. The shadow's size is set to a height and width of 10px. The bottom margin and padding is set to 10px and 20px. */
.A {
	border: 5px solid #8c46e3;
	box-shadow: 10px 10px 8px #ed3833;
  	padding: 20px;
  	margin-bottom: 10px;
}

/* The class '.B' targets the CSS done on 'div#B'. A green border is created with a thickness of 5px using the property 'border' and the hex code to display green. A black inner shadow is displayed in the left upper area of the div using the attribute 'inset' with a blur effect of 8px. The shadow's size is set to a height and width of 10px. The bottom margin and padding is set to 10px and 20px. */
.B {
	border: 5px solid #6be33b;
	box-shadow: 10px 10px 8px #040404 inset;
  	padding: 20px;
  	margin-bottom: 10px;
}

/* The class '.C' targets the CSS done on 'div#C'. To create rounded corners for the borders, the property 'border-radius' is set to a size of 25px. */

/* The first colored border is set to orange with small thickness of 4px. */

/* The second colored border is set to blue with a thickness of 9px using the property 'outline'. */

/* The third and fourth colored borders are set to red and dark-green with a thickness of 20px and 30px using the property 'box-shadow'.*/
.C {
	border-radius: 25px;
  	border: 4px solid #f28b3c;
	outline: 9px solid #2046f5;
	padding: 20px;
  	margin-bottom: 10px;
	box-shadow: 
	0px 0px  0px 20px #ed3833,
	0px 0px  0px 30px #39801d;
  	
}

/* The class '.D' targets the CSS done on 'div#D'. A dark-red border is created with a thickness of 5px using the property 'border' and the hex code to display dark-red. To add a grey shadow to the text 'div#D' using the property 'text-shadow' with a position of 6px (left) 6px (bottom). The bottom margin and padding is set to 10px and 20px.*/
.D {
	border: 5px solid #b22823;
	text-shadow: 6px 6px #565656;
  	padding: 20px;
  	margin-bottom: 10px;
}
