.navbar{
	background-color:tomato;
	overflow:hidden;
	font-family: Roboto, sans-serif;
}

.navbar a{
	float:left;
	color:white;
	text-align:center;
	padding:15px 17px;
	text-decoration:none;
	font-size:17px;
}

.navbar a:hover{
	background-color:#ff8775;
	color:black;
}


html{
	font-family: Roboto, sans-serif;
}

html{
	color: white;
}

h1{
	text-decoration:none;
	border-bottom:2px solid red;
}

h2{
	text-decoration:none;
	width: 1800px;
	border-bottom:1px solid white;
}

.reviews {
	background-color: white;
	color: black;
	float:left;
	width: 300px;  
	border: 2px solid red;
	margin: 10px;
	padding: 10px;
}

.linkbtn {
	background-color: red;
	color: white;
	border-radius: 10px;
	float: left;
	padding: 15px 25px;
	text-decoration: none;
}